// ----------------------------------------------------------------------
// --- CONFIGURATION file is defining all your global variables
// ----------------------------------------------------------------------


// Color palette
// --------------------------------------------------
$base-font-color: #333;
$header-font-color: #000;
$link-color: #08c !default;
$link-color-hover: darken($link-color, 15%) !default;

// Fonts
// -------------------------
$header-font: "Georgia", Times, serif !default;
$base-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$base-font-size: 14px !default;
$base-line-height: $base-font-size * 1.5;

$header-font-weight: 700;
$base-font-weight: 500;

// Size variables
// -------------------------
$max-width: 980px;

// Grid variables
// -------------------------
$grid-column: 56px;
$grid-gutter: 20px;