// ----------------------------------------------------------------------
// --- PRINT file
// ----------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  font-size: 1em;
}

body {
  background: #fff;
  font: 16px/20px "Times New Roman", serif;
  padding-top: 60px;
}

.sidebar-first, .sidebar-second, .site-footer, [role="navigation"], .site-slogan {
  display: none;
}

.site-header {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 0;
  padding: 0;
}

.site-name {
  background: #eee;
  padding: 10px;
  font-weight: bold;
  a {
    font: 16px/20px "Times New Roman", serif;
    text-transform: uppercase;
    &:link:after {
      content: " - " attr(href) "";
      display: block;
      font-style: italic;
      color: #8c8c8c;
      text-transform: lowercase;
    }
  }
}

.middle-content, body.sidebar-first .middle-content, body.sidebar-second .middle-content {
  width: 100%;
  background: #fff;
  color: #000;
}

h1 {
  font: 35px/40px "Times New Roman", serif;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 50px;
  font-weight: bold;
}

.middle-content a {
  color: #0066cc;
}

.middle-content a:link:after {
  content: " (" attr(href) ") ";
}
