// ----------------------------------------------------------------------
// --- BASE file is defining only pure HTML elements
// ----------------------------------------------------------------------


// Magic numbers for creating your typographic scale/hierarchy
// - Golden ratio = 1,618 (see: http://net.tutsplus.com/tutorials/other/the-golden-ratio-in-web-design/)
// - European Typeface Scale: 6,7,8,9,10,11,12,14,16,18,21,24,36,48,60,72
// - Fibonacci sequence: 16,24,40,64,104 (achieve the divine proportion and is applied for more aesthetically design)


body {
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: $base-font-color;
  font-family: $base-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: $header-font-weight;
  color: $header-font-color;
  margin: 0;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 36px;
  line-height: 1.2em;
  margin-bottom: 1em;
}

h2 {
  font-size: 26px;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 21px;
  line-height: 1.2em;
  margin-bottom: 0.3em;
}

h4 {
  font-size: 18px;
  line-height: 1.12em;
  margin-bottom: 0.3em;
}

h5 {
  font-size: 16px;
  line-height: 1.1em;
  margin-bottom: 0.3em;
}

h6 {
  font-size: 14px;
  line-height: 1.1em;
  margin-bottom: 0.3em;
}

p {
  margin-top: 0;
  margin-bottom: 1.5em;
  line-height: $base-line-height;
}

ul, ol {
  list-style-position: outside;
  margin-bottom: 1.5em;
  padding: 0 0 0 20px;
}

li {
  margin-bottom: 0.5em;
}

a {
  @include transition(all 0.3s ease-out);
  color: $link-color;
  &:hover {
    color: $link-color-hover;
  }
  // Very useful for link state on touch devices
  &:active {

  }
}

img {

}