// ----------------------------------------------------------------------
// --- ELEMENTS file
// ----------------------------------------------------------------------


// Navigation
// -------------------------------------------------------------------
[role="navigation"] { }


// Misc
// -------------------------------------------------------------------
.outdated {
  background: #FF5500;
  padding: 10px;
  text-align: center;
  color: #780505;
  font-size: 15px;
  a {
    color: #fff;
  }
}

// Hide only visually, but have it available for screen readers: h5bp.com/v
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

