// ----------------------------------------------------------------------
// --- FORMS file defining all your forms, inputs,
// ----------------------------------------------------------------------


.form-item {
  margin-bottom: 10px;
  label {
    font-weight: bold;
  }
}

input.form-text, textarea.form-textarea {
  background: #e8e8e8;
  border: none;
  padding: 8px 7px 6px;
}

input.form-text:focus, textarea.form-textarea:focus {
  background: #ccc;
}

input[type="submit"] {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 7px 4px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  background: #555;
  color: #fff;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid #B94A48;
  color: #B94A48;
}

.description {
  font-size: 11px;
  color: #717171;
  line-height: 1.6em;
}

// Login Form
.login-register {
  display: inline-block;
  margin-bottom: 10px;
}

.login-password {
  display: inline-block;
  margin-top: -10px;
  margin-bottom: 30px;
}