// ----------------------------------------------------------------------
// --- KEYFRAMES file is listing all your keyframe functions
// ----------------------------------------------------------------------


// --- Examples ---
//
// @include keyframes(anim1) {
//   0% { opacity: 1; }
//   100% { opacity: 0; }
// }
//
// @include keyframes(anim2) {
//   0% { top: 40px; }
//   50% { top: 10px; }
//   100% { top: 200px; }
// }