// ----------------------------------------------------------------------
// --- LAYOUT file is defining your main regions
// ----------------------------------------------------------------------


// Container
// :Holds all elements and controls the page's maximum width.
// :Using a container will make designing for responsive easier!
// -------------------------------------------------------------------
.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 20px;
}

// HEADER
// -------------------------------------------------------------------
.site-header { }

// MAIN CONTENT
// -------------------------------------------------------------------
.main-content { }

// FOOTER
// -------------------------------------------------------------------
.site-footer { }


