// -----------------------------------------------------------------------------------
// --- THEME SETTINGS !!Please, modify only the last line to change your grid system!!
// -----------------------------------------------------------------------------------

body.wireframes .site-header {
  background: rgba(0, 255, 0, 0.35) !important;
  background: rgb(0, 255, 0);
}
body.wireframes .sidebar-first {
  background: rgba(162, 0, 197, 0.35) !important;
  background: rgb(162, 0, 197);
}

body.wireframes .middle-content {
  background: rgba(255, 0, 0, 0.35) !important;
  background: rgb(255, 0, 0);
}

body.wireframes .sidebar-second {
  background: rgba(0, 194, 236, 0.35) !important;
  background: rgb(0, 194, 236);
}

body.wireframes .site-footer {
  background: rgba(236, 222, 0, 0.35) !important;
  background: rgb(236, 222, 0);
}

body.display-viewport #viewport-values {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px 25px;
  background: rgba(0, 0, 0, 0.80) !important;
  background: #000;
  font-size: 20px;
  color: #fff;
  z-index: 999999;
  line-height: 1.3em;
}


// !!You have to enabled compass and compass/layout in main.scss!!
// -------------------------------------------------------------------
// http://compass-style.org/reference/compass/layout/grid_background/
// -------------------------------------------------------------------
//body.grid-system .container {
  // column-grid-background($total-columns, $column-width, $gutter-width, $offset, $column-color, $gutter-color, $force-fluid)
  // actual grid system is based on total width 980px with 12 columns of 56px and gutter of 28px
  //@include column-grid-background(12, 56, 28, 0, rgba(255, 0, 0, 0.3), #fff, true);background-position: center 0;
//}

